.our-mission-section {
    background-color: #f8f8f8;
    padding: 80px 0 40px;
  }

  .ui-section-our-mission__layout {
    text-align: center;
    margin-bottom: 40px;
  }

  .ui-section-our-mission__layout img {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .mission-content,
  .impact-content {
    text-align: left;
    padding: 20px;
  }

  .ui-section-our-mission__layout h2 {
    color: #001f3f;
    font-size: 32px;
    margin-bottom: 20px;
  }

  .ui-section-our-mission__layout p {
    color: #333;
    font-size: 18px;
}