

body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-top: 4vw;
    font-family: oswald;
    font-size: 4vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
}

p {
    color: #555;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.donations-quote {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #1a1a1a; 
    padding: 30px 20px; 
    width: 100%;
    max-width: 70vw;
    z-index: 1;
    margin: 20px auto;
    align-self: center;
    border-top: solid 2px #74beef; 
    border-bottom: solid 2px #3498db; 
    background-color: white; 
    text-align: center; 
    transition: background-color 0.3s ease; 
  }
  
  .donations-quote:hover {
    background: linear-gradient(to top, #08a154, #066948);
    color: #fff; 
  }
  

h2 {
    color: #007bff;
}

input {
    padding: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.donationsBox {
    margin-top: 5vw;
    margin-left: 25vw;
    margin-bottom: 10vw; 
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    max-width: 50vw;
    text-align: center;
}

.donationsBox:hover {
    transform: scale(1.05);
}



.time-toggle {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-left: 35vh;
   }
    
   .amount-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
   }
   
   .donate-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
   }
   
   .donate-button:hover {
    background-color: #555;
   }
   
   .donation-image {
    width: 50%;
    height: 100%;
    /* background-image: url('your-image-url.jpg'); */
     background-size: cover; 
    background-position: center;
   }  
